/* 
    Document   : customcss
    Created on : Sep 17, 2015, 12:17:58 AM
    Author     : Sidath
    Description:
        Purpose of the stylesheet follows.
*/

/*.radio { padding-left:20px;}
input[type="radio"] {
  margin-right: 5px;
}*/
